    @{
    ViewBag.Title = "maps";
    Layout = null;
    }

    <div style="height:100%;width:100%;" id="carte"></div>

    <script>



function initMap() {


    // Create a map object and specify the DOM element
    // for display.
    var map = new google.maps.Map(document.getElementById('carte'), {
        zoom: 20
    });

    // Create a marker and set its position.

@foreach (var item in ViewBag.resources)
{
    <text>
        var marker = new google.maps.Marker({
        map: map,
        position: { lat: @item.lat, lng: @item.lang },
        title: '@item.Id',
    });
    map.setCenter({ lat: @item.lat, lng: @item.lang });
    </text>
}

}</script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfjMqnDybHiwYCL1RKSuG6gVvyCFS5tSs&callback=initMap"
            async defer></script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
     
